
.listItemContract {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 145px;
  list-style-position:inside
}

.listItemExpand {
  list-style-position:inside;
  white-space: nowrap;
}


